@model KPI_Schedule.Models.Schedule

<h4>Ви впевнені, що хочете видалити?</h4>

<table>
    <tr>
        <th>Name</th>
        <th>TeacherName</th>
        <th>TeacherSurname</th>
        <th>Discipline</th>
        <th>Group</th>
        <th>Time</th>
        <th>Classroom</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Teacher.Name</td>
        <td>@Model.Teacher.Surname</td>
        <td>@Model.Discipline.Name</td>
        <td>@Model.Group.Name</td>
        <td>@Model.Time</td>
        <td>@Model.Classroom</td>
    </tr>
</table>
<form asp-action="Delete" asp-route-id="@Model.Id">
    <input type="submit" value="Delete" />
</form>
<a asp-action="List">Go Back</a>